services:
  # Nginx 反向代理
  npm:
    image: jlesage/nginx-proxy-manager
    container_name: nginx-proxy-manager
    ports:
      - "80:80"
      - "443:443"
      - "81:81"  # Nginx Proxy Manager web interface
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf # 采用本地反向代理集群配置文件
      # 数据持久化
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
    # environment:
    #   - PGDATA=/var/lib/postgresql/data/pgdata
    restart: unless-stopped

  # Prometheus 监控
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    pull_policy: always
    ports:
      - "9090:9090"
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --storage.tsdb.retention.time=15d
      - --web.enable-lifecycle
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./prometheus/rules:/etc/prometheus/rules:ro
      - prometheus-data:/prometheus
    depends_on:
      - alertmanager
      - blackbox-exporter

  alertmanager:
    image: prom/alertmanager:latest
    container_name: alertmanager
    restart: unless-stopped
    pull_policy: always
    ports:
      - "9093:9093"
    command:
      - --config.file=/etc/alertmanager/alertmanager.yml
    volumes:
      - ./alertmanager/alertmanager.yml:/etc/alertmanager/alertmanager.yml:ro
      - alertmanager-data:/alertmanager

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    pull_policy: always
    ports:
      - "9100:9100"
    # 让容器内读取宿主机 /proc /sys 以采集宿主机指标
    pid: "host"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - --path.procfs=/host/proc
      - --path.sysfs=/host/sys
      - --path.rootfs=/rootfs
      - --collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)

  # blackbox-exporter:
  #   image: prom/blackbox-exporter:latest
  #   container_name: blackbox-exporter
  #   restart: unless-stopped
  #   pull_policy: always
  #   ports:
  #     - "9115:9115"
  #   volumes:
  #     - ./blackbox/blackbox.yml:/etc/blackbox_exporter/config.yml:ro
  #   command:
  #     - --config.file=/etc/blackbox_exporter/config.yml

  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    restart: unless-stopped
    pull_policy: always
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-data:/var/lib/grafana

volumes:
  prometheus-data:
  alertmanager-data:
  grafana-data:
